<launch>

    <arg name="rviz" default="false"/>

    <node pkg="fast_limo" type="fast_limo_multi_exec" name="limovelo" output="screen">
        <rosparam file="$(find fast_limo)/config/cat.yaml" />
    </node>

    <!-- <node pkg="rviz" name="rviz_limo" type="rviz" args="-d $(find fast_limo)/config/rviz/limo.rviz" if="$(arg rviz)"/> -->

</launch>